@page "/"
<div class="row mx-5 ">
    <div class="col-4">
        @if(SelectedTask != null)
        {
            <CreateTask UpdateTask="UpdateTask" EditTaskProp="SelectedTask" />
        }
        else
        {
            <CreateTask CreateNewTask="CreateNewTask" UpdateTask="UpdateTask" />
        }
       
   </div>
   <div class="col-8">
       <div class="row">
            @foreach(var task in Tasks)
        {
       
              <TaskDisplay taskDto="task" DeleteTaskId="DeleteTaskId" UpdateTask="UpdateTask"/>
            
        }
       </div>
         
   </div>  
   

</div>

@code {
    private List<TaskDto> Tasks = new List<TaskDto>()
    {
        new TaskDto()
        {
            TaskId=Guid.NewGuid(),
            Title = "Eats",
            Description="Some desc"
        },
         new TaskDto()
        {
            TaskId=Guid.NewGuid(),
            Title = "sleep",
            Description="Some desc"
        }
    };
    public void CreateNewTask(TaskDto task)
    {
        this.Tasks.Add(task);
    }
    private TaskDto SelectedTask;
    public void UpdateTask(TaskDto task)
    {
        SelectedTask = task;

    }
    public void DeleteTaskId(Guid id)
    {
        var TaskToDelete = this.Tasks.Find(x => x.TaskId == id);
        try
        {
            this.Tasks.Remove(TaskToDelete);
        }catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
  
}
